<li class="span3 clearfix user-item" id="i-<%=item.id%>">
  <div class="thumbImage">
    <a href="#"><img src="<%=item.thumb_url(:small)%>" alt=""></a>
  </div>
  <div class="thumbSetting">
    <div class="thumbTitle">
      <a href="<%=item_url(item)%>" class="invarseColor">
        <%=item.title%>
      </a>
      <br>
      <small><%=item.created_at%></small>
    </div>
  </div>
  <div class="item-more" >
    Likes: <%=item.who_likes.count%>
    Wants: <%=item.who_wants.count%>
    Owns: <%=item.who_owns.count%>
  </div>
</li>
