<li class="span3 clearfix">

  <div class="box style-two" data-hipop="two">

    <img src="<%=item.thumb_url("medium2")%>" title="<%=item.title%>" alt="<%=item.title%>">

    <%= link_to '', item_action_path(item, "like"), :remote => true, :class => "popup like_" + item.id.to_s %>
    <%= link_to '', item_action_path(item, "own"), :remote => true, :class => "popup2 own_" + item.id.to_s %>
    <%= link_to '', item_action_path(item, "want"), :remote => true, :class => "popup3 want_" + item.id.to_s %>

  </div>

  <div class="thumbSetting">
    <div class="thumbTitle">
      <div class="pull-right">
        <ul class="rating clearfix">
        <% item.rate.floor.times do  %>
            <li><i class="icon-star"></i></li>
        <% end  %>
        <% if item.rate % 1 != 0  %>
            <li><i class="icon-star-half"></i></li>
        <% end  %>
        </ul>
      </div>
      <div class="pull-left">
      <h3>
        <a href="<%= item_url(item.id) %>" class="invarseColor"><%=item.title%></a>
      </h3>
      </div>
    </div>
    <div style="clear:both"></div>
    <div class="thumbButtons ">
      <a href="<%= item_url(item.id) %>" class="btn btn-primary btn-block">
        More
      </a>
    </div>

  </div>
</li>