<% content_for :title, @item.title %>

<div class="row">

    <div class="span9">
        <div class="row">

          <div class="product-details clearfix">
            <div class="span5">
              <div class="product-title">
                <h1><%= @item.title %></h1>
              </div>

              <%= render :partial => 'items/show/attachments' %>

            </div><!--end span5-->

            <%= render :partial => 'items/show/content' %>


          </div><!--end product-details-->

        </div><!--end row-->

        <%= render :partial => 'items/show/tabs' %>

    </div><!--end span9-->


    <%= render 'sidebar' %>

</div>

