<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @item.title %>
</p>

<p>
  <b>Link:</b>
  <%= @item.link %>
</p>

<p>
  <b>Content:</b>
  <%= @item.content %>
</p>

<p>
  <b>Store:</b>
  <%= @item.store_id %>
</p>

<p>
  <b>User:</b>
  <%= @item.user_id %>
</p>

<p>
  <b>Item category:</b>
  <%= @item.item_category_id %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
