
<!-- ============================  Navigation Start =========================== -->

<div class="navbar navbar-inverse-blue navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">


      <div class="navigation">
        <ul class="nav">
          <li class="active dropdown">

            <a href="#" class="dropdown-toggle btn-navbar-blue" data-toggle="dropdown">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>

            <ul class="dropdown-menu">
              <li><a href="cart.html">Cart</a></li>
              <li><a href="image-page.html">Images</a></li>
              <li><a href="image-upload.html">Uploads</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="single-post.html">Single Post</a></li>
              <li><a href="pricing.html">Pricing</a></li>
              <li><a href="search-results.html">Search Results</a></li>
            </ul>

          </li>

        </ul> <!-- end nav -->
      </div><!--/.nav-collapse -->

      <a class="brand" href="<%=root_url%>"><i class="icon-coffee"></i> Latted!</a>
      <div class="pull-right">
        <ul class="unstyled inline user-interaction">
            <% if current_user %>
                <li>
                    <%= link_to destroy_user_session_path, :method => :delete do %>
                        <span class="user tooltip-trig" data-toggle="tooltip" data-placement="bottom" title="<%= t "Logout" %>">&#59136;</span>
                    <% end %>
                </li>
            <% else %>
                <li>
                    <%= link_to new_user_registration_url do %>
                        <span class="user tooltip-trig" data-toggle="tooltip" data-placement="bottom" title="<%= t "Sign Up" %>">&#59136;</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to new_user_session_url do %>
                      <span class="user tooltip-trig" data-toggle="tooltip" data-placement="bottom" title="<%= t "Login" %>">&#128275;</span>
                    <% end %>
                </li>

          <% end %>
        </ul>  <!-- end user-interaction -->
      </div> <!-- end pull-right -->
    </div> <!-- end container -->
  </div> <!-- end navbar-inner -->
</div> <!-- end navbar-inverse-blue -->

<!-- ============================  Navigation End ============================ -->